// font-family: 'Lato', sans-serif;
// font-family: 'Staatliches', cursive;

ion-segment {
  margin: 0 15px;
  border: 1px solid #fff;
  box-shadow: 0px 1px 2px #555;
}

ion-segment-button {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  transform: scale(.85);
  --indicator-color: transparent;
  color: #777777;
}

.segment-button-checked {
  color: #000000;
}

// .segment-button-checked:before {
//   // add some border or whatever ...
// }

ion-badge {
  width: 100%;
  background-color: #eee;
  border: 1px solid #fff;
  box-shadow: 1px 1px 2px #555;
  color: #555;
  font-family: 'Staatliches', cursive;
  text-align: center;
}

ion-badge:active {
  background-color: #000;
  color: #fff;
}

.poster-col {
  height: 400px;
  transform: rotate3d(-8, 10, 1, 2deg);
  img {
    border-radius: 10%;
    border: 1px solid #fff;
    box-shadow: 7px 8px 8px #777;
  }
}

.swiper-slide {
  transition: .4s all;
}

.swiper-slide-prev {
  opacity: .5;
  transform: rotate(-3deg);
}

.swiper-slide-next {
  opacity: .5;
  transform: rotate(3deg);
}

.movieName {
  padding-top: 1rem;
  font-family: 'Staatliches', cursive;
}

.rate {
  padding-top: 1rem;
  font-size: 1.5rem;
  font-family: 'Staatliches', cursive;
}