<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon slot="end" menu="first" name="grid-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="start" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-segment scrollable value="2">
    <ion-segment-button value="1">
      <ion-label>Recent</ion-label>
    </ion-segment-button>

    <ion-segment-button value="2">
      <ion-label>Coming Soon</ion-label>
    </ion-segment-button>

    <ion-segment-button value="3">
      <ion-label>Top Movies</ion-label>
    </ion-segment-button>

    <ion-segment-button value="4">
      <ion-label>Series</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-badge color="light" mode="ios" (click)="genreChange('all')">All</ion-badge>
        </ion-col>
        <ion-col size="3">
          <ion-badge color="light" mode="ios" (click)="genreChange('thriller')">Thrillers</ion-badge>
        </ion-col>
        <ion-col size="3">
          <ion-badge color="light" mode="ios" (click)="genreChange('comedy')">Comedy</ion-badge>
        </ion-col>
        <ion-col size="3">
          <ion-badge color="light" mode="ios" (click)="genreChange('action')">Actions</ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-slides [options]="options">

    <ion-slide *ngFor="let movie of movies">
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="poster-col">
            <img class="poster" [src]="movie.poster" alt="{{ movie.name }}">
          </ion-col>
          <ion-col size="12">
            <h4 class="ion-no-margin movieName">{{ movie.name }}</h4>
            <p class="ion-no-margin rate">
              <ion-icon name="star-outline"></ion-icon>{{ movie.rate }}
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>      
    </ion-slide>

    
  </ion-slides>

</ion-content>
