<ion-header class="ion-no-border">
  <div style="height: 150px; overflow: hidden;" >
    <svg viewBox="0 0 300 170" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C153.78,196.88 273.42,4.45 501.97,106.08 L500.00,0.00 L0.00,0.00 Z" 
        style="stroke: none; fill: #08f;">
      </path>
    </svg>
  </div>
  <ion-toolbar color="#08f" class="toolbar">
    <ion-title color="light" class="ion-text-uppercase">Lovely Neighbours</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="slides ion-margin-bottom">
    <ion-slides [options]="optionsObject">
      <ion-slide *ngFor="let neib of neibs | search:searchString; let idx = index"  class="ion-no-border">
        <ion-card>
          <ion-card-header>
            <ion-title class="ion-text-uppercase">{{ neib.name }}</ion-title>
            <ion-button class="delIcon" fill="none" (click)="onDelete(neib._id)">
              <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none" class="ion-no-padding">
              <p class="descript">{{ neib.description }}</p>
            </ion-item>
            <div class="address">
              <h1>Address:</h1>
              <p>Country: {{ neib.address['country'] }}</p>
              <p>City: {{ neib.address['city'] }}</p>
              <p>Street: {{ neib.address['street'] }}</p>
              <p>Building: {{ neib.address['building'] }}</p>
              <p>Zip Code: {{ neib.address['zip'] }}</p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-item class="filter">
    <ion-label position="floating">Search</ion-label>
    <ion-input [(ngModel)]="searchString"></ion-input>
  </ion-item>
</ion-content>

<ion-footer class="footer ion-no-border">
  <ion-toolbar color="#08f">

      <ion-button 
        expand="full"
        class="ion-text-uppercase"
        routerLink="/create"
      >
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        Add Some Neighbours
      </ion-button>

  </ion-toolbar>
</ion-footer>