* {
  font-family: 'Josefin Sans', sans-serif;
}

ion-header {
  background: #FFFAF0;  
}

.toolbar {
  position: fixed;
  top: 0;
  ion-title {
    font-weight: 700;
    font-size: 17px;
  }
}

ion-content {
  --background:#FFFAF0;
}

ion-slide {
  

  ion-card {
    width: 100%;
    ion-card-header {
      margin-bottom: 10px;
    }
    .delIcon {
      position: absolute;
      top: -3px;
      right: 0;
    }
  }

  ion-item {
    .descript {
      padding: 5px;
      width: 100%;
      height: 6.5rem;
      border: 1px solid #eee;
      border-radius: 5px;
      overflow: hidden;
    }
  }

  .address {
    margin: 1rem 0;
    text-align: right;
  }
}

.filter {
  margin-top: 3rem;
  --background: transparent;
  border-bottom: 1px solid rgb(101, 142, 178);
  box-shadow: 0 3px 3px #aaa;
  font-size: 24px;
  ion-label {
    color: #08f;
  }
}

ion-footer {
  background:#FFFAF0;
}
