* {
  font-family: 'Josefin Sans', sans-serif;
}

.circle {
  z-index: -1;
  width: 200px;
  height: 200px;
  background-color: #A52A2A;
  opacity: .3;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2rem;
  margin: auto;
}

ion-toolbar {
  --background: transparent;

  ion-title {
    font-size: 2.5rem;
  }
}

ion-content {
  --background: rgba(255, 250, 240, 0.65);
  position: relative;
  .blob {
    z-index: -1;
    width: 600px;
    opacity: .6;
    position: absolute;
    top: 10%;
    left: -60%;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    align-items: center;
    h1 {
      text-align: center;
    }

    label {
      width: 100%;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      text-align: center;
      color: #555;
    }

    input, textarea {
      width: 100%;
      height: 2rem;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      padding: 10px;
      outline: none;
      border: 1px groove rgba(255, 250, 240, 0.65);
      background: rgba(255, 255, 255, 0.65);
      color: #555;
      border-radius: 10px;
      box-shadow: 0px 2px 3px #CD853F;
    }

    input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
      border: 1px solid #CD5C5C;
      box-shadow: 0px 2px 5px#CD5C5C;
    }

    input.ng-valid.ng-touched, textarea.ng-valid.ng-touched {
      border: 1px solid #4c8e4c;
      box-shadow: 0px 2px 5px #4c8e4c;
    }

    .validator {
      small {
        font-family: 'Arial', sans-serif;
      }
      color: #CD5C5C;
    }

    textarea {
      height: 5rem;
    }

    ion-button {
      width: 100%;
      border-radius: 10px;
      color: #fff;
      font-size: 20px;
      background: rgba(73,155,234,0.74);
      background: -moz-linear-gradient(left, rgba(73,155,234,0.74) 47%, rgba(68,151,233,0.74) 53%, rgba(32,124,229,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(47%, rgba(73,155,234,0.74)), color-stop(53%, rgba(68,151,233,0.74)), color-stop(100%, rgba(32,124,229,1)));
      background: -webkit-linear-gradient(left, rgba(73,155,234,0.74) 47%, rgba(68,151,233,0.74) 53%, rgba(32,124,229,1) 100%);
      background: -o-linear-gradient(left, rgba(73,155,234,0.74) 47%, rgba(68,151,233,0.74) 53%, rgba(32,124,229,1) 100%);
      background: -ms-linear-gradient(left, rgba(73,155,234,0.74) 47%, rgba(68,151,233,0.74) 53%, rgba(32,124,229,1) 100%);
      background: linear-gradient(to right, rgba(73,155,234,0.74) 47%, rgba(68,151,233,0.74) 53%, rgba(32,124,229,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
    }
  }
}

ion-footer {
  background: #FFFAF0;
}