<ion-header class="ion-no-border">
  <div class="circle"></div>
  <ion-toolbar>
    <ion-title class="ion-text-center">create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <svg class="blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <path fill="#A52A2A" d="M52.4,4.3C52.4,32.4,26.2,64.7,2.5,64.7C-21.3,64.7,-42.6,32.4,-42.6,4.3C-42.6,-23.7,-21.3,-47.4,2.5,-47.4C26.2,-47.4,52.4,-23.7,52.4,4.3Z" transform="translate(100 100)" />
  </svg>

  <div class="ion-padding">
    <form class="form ion-padding" [formGroup]="form" (ngSubmit)="submit()">
      <h1>fill the form please:</h1>
      <br>
      <hr>
      <label>
        <span>Enter a name:</span>
        <input type="text" name="name" formControlName="name">
        <div class="validator" *ngIf="form.get('name').invalid && form.get('name').touched">
          <small>Enter a valid title..</small>
        </div>
      </label>

      <label>
        <span>Enter the address:</span>
        <input type="text" name="country" placeholder="country" formControlName="country">
        <input type="text" name="city" placeholder="city" formControlName="city">
        <input type="text" name="street" placeholder="street" formControlName="street">
        <input type="text" name="building" placeholder="building" formControlName="building">
        <input type="text" name="zip" placeholder="zip code" formControlName="zip">
        <div class="validator" *ngIf="form.get('country').invalid && form.get('country').touched">
          <small>All fields must be filled correctly..</small>
        </div>
      </label>

      <label>
        <span>Type a description:</span>
        <textarea name="description" draggable="false" formControlName="description"></textarea>
      </label>

      <ion-button [disabled]="form.invalid" class="submit" type="submit" fill="outline">Submit</ion-button>

    </form>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <p class="ion-text-center"><a href="#">search on the map</a></p>
    <ion-button fill="outline" expand="block" routerLink="/">Go Back</ion-button>
  </ion-toolbar>
</ion-footer>
