* {
  font-family: 'Staatliches', cursive;
}

.header {
  width: 400px;
  height: 130px;
  background-color: rgb(217, 155, 155);
  transform: rotate(-10deg);
  margin: -30px 0 0 -20px;
  border-radius: 0 0 0 40px;
  box-shadow: 1px 2px 4px rgb(138, 79, 180);
}

.title {
  padding-top: 2rem;
  padding-right: 6rem;
  display: flex;
  transform: rotate(10deg);
  justify-content: center;
  align-items: center;
  text-shadow: 1px 2px 4px rgb(138, 79, 180);
  ion-icon {
    padding: 20px;
    font-size: 3.5rem;
  }
}

ion-content {
  --background: #FFF;
}

.menu {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  ion-item {
    margin-bottom: 2rem;
    text-shadow: 1px 2px 2px rgb(138, 79, 180);
    letter-spacing: 2px;
    ion-icon {
      margin-right: 1rem;
    }
  }
}