<ion-app>
  <ion-menu side="start" menuId="first" contentId="main" type="push" class="myMenu">
    <ion-header class="ion-no-border">
      <div class="header">
        <div class="title">
          <ion-icon name="videocam-sharp"></ion-icon>
          <h2><span>y</span>our <span>g</span>ide</h2>
        </div>
      </div>
    </ion-header>
    <ion-content>
      
        <ion-list class="menu">
          <ion-menu-toggle>
            <ion-item lines="none"><ion-icon name="flash-sharp"></ion-icon>Actions</ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item lines="none"><ion-icon name="happy-outline"></ion-icon>Comedies</ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item lines="none"><ion-icon name="skull"></ion-icon>Thrillers</ion-item>
          </ion-menu-toggle>
        </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
